@import "tailwindcss";

* {
  font-family: poppins;
  /* color: var(--text); */
}

/* :root {
  --text: #b7b7b7;
  --paper: black;
  --pale: rgb(16, 16, 16);
  --primary: #313131;
  --pale-primary: #dfdfdf12;
  --very-pale: #232323;
  --border: rgba(56, 56, 56, 0.535);
  --shadow: 10px 10px 20px rgba(0, 0, 0, 0.07);
  --accent: #e9226e;
} */

:root {
  --text: #000000;
  --border: rgba(151, 151, 151, 0.255);
  --paper: #f9f9f9;
  --pale: #f4f4f4;
  --primary: #e9226e;
  --pale-primary: #ee6e9f12;
  --very-pale: #efefef;
  --accent: #e9226e;
}

::-webkit-scrollbar {
  display: none;
}

.border-custom {
  border-color: var(--border);
}

.bg-paper {
  background-color: var(--paper);
}

.bg-very-pale {
  background-color: var(--very-pale);
}

.bg-pale-primary {
  background-color: var(--pale-primary);
  color: var(--primary);
}

.bg-pale {
  background-color: var(--pale);
}

.bg-primary {
  background-color: var(--primary);
  color: aliceblue;
}
.bg-accent {
  background-color: var(--accent);
  color: aliceblue;
}

.border-primary {
  border-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.shadow-custom {
  box-shadow: var(--shadow);
}

.border-pale {
  border-color: var(--pale);
}

.border-paper {
  border-color: var(--paper);
}

.hover-bg-pale:hover {
  background-color: var(--pale);
}

@layer base {
  html {
    font-size: 12.5px;
  }
}
